.about-box h1{
    margin-top: 4rem;
    text-align: center;
    font-weight: bolder;
}

.ab-outer{
    display: flex;
    padding: 4rem;
    padding-left: 8rem;
    padding-right: 8rem;
    justify-content: center;

}

.ab-left{
    flex: 40%;
    text-align: center;

}

.ab-right{
    flex: 40%;
    text-align: center;
}