.ft-body {
    background-image: linear-gradient(360deg, #DCEDC1, #5dea90);
    padding: 4rem;
    padding-left: 9rem;
    padding-right: 9rem;
    display: flex;
    font-family: "Open-Sans";
    width: 100%;
}


.ft-body h4 {
    /* color: ; */
}


.ft-1 {
    flex: 33%;
}

.ft-2 {
    flex: 33%;
    text-align: left;
}

.ft-3 {
    flex: 33%;
    text-align: left;

}

.ft-links {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;

}

.ft-links:hover {
    color: #ff8b94;
    font-size: 1.2rem;  
}

.ft-2 li {
    list-style: none;
    color: black;
    margin-bottom: 0.7rem;
}

.btn-color {
    background-color: #ff8b94;
    border-color: #ff8b94;
    color: white;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-color:hover {
    color: #ff8b94;
    background-color: white;
   
}

.btn-plain {
    background-color: white;

    border-color: #ff8b94;
    color: #ff8b94;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-plain:hover {
    color: white;
    background-color: #ff8b94;
}


.wabtn {
    margin-top: 2rem;
    width: 45px;
    height: 45px;
    border-radius: 8px;
    /* background-color: #ff8b94; */
    border: #707070;
    margin-top: 0px;

}

.wabtn:hover {
    background-color: #FFD3B6;
}

.instabtn {

    width: 45px;
    height: 45px;
    border-radius: 8px;
    /* background-color: #ff8b94; */
    border: #707070;
    margin-left: 0.5rem;
    margin-top: 0px;


}

.instabtn:hover {
    background-color: #FFD3B6;
}

.fbbtn {

    width: 45px;
    height: 45px;
    border-radius: 8px;
    /* background-color: #ff8b94; */
    border: #707070;
    margin-left: 0.5rem;
    margin-top: 0px;
}

.fbbtn:hover {
    background-color: #FFD3B6;
}